# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\prog\gitHub\gre4ka-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
